In [1]:
import pandas as pd
import numpy as np
import env

1. Copy your env.py file into your time-series-exercises directory
2. Ensure env.py is added to your .gitignore file
3. In your SQL client, write a query to acquire data from the 3 tables in the tsa_item_demand database. The tables should be joined in the sql query.
4. Open a jupyter notebook, import env and pandas, and define the function, get_connection(db, user, host, password) , that opens the connection to the sql database  (hint: you've written this function before, so reference that if needed).
6. Create a variable query that stores the sql query you wrote in #3.
7. Using the function, pandas.read_sql() , run your query in the tsa_item_demand database.

In [2]:
# using a SQL query I pull in the zillow data set for 2017 properties and predictions data for single 
# unit / single family homes from the Codeup database.
df = env.get_tsa()

In [3]:
df.head()

,store_id,item_id,item_upc14,item_upc12,item_brand,item_name,item_price,sale_id,sale_date,sale_amount,store_address,store_zipcode,store_city,store_state
0,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,1,2013-01-01,13,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
1,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,2,2013-01-02,11,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
2,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,3,2013-01-03,14,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
3,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,4,2013-01-04,13,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
4,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,5,2013-01-05,10,12125 Alamo Ranch Pkwy,78253,San Antonio,TX